test/multi-soap/multi-soap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:ens="http://www.example.com/shop/fulfillment" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.example.com/exampleservices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.example.com/exampleservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.example.com/shop/fulfillment">
      <s:element name="OrderRequests" type="ens:OrderRequests" />
      <s:complexType name="OrderRequests">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TXID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Timestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderRequest" type="ens:OrderRequestType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderRequestType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DealerCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsUpdate" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsCancelled" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="IsGiftWrapped" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="ShipToStore" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" default="false" name="GiftWrapped" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="GiftWrapMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="ens:NameType" />
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryAddress" type="ens:AddressType" />
          <s:element minOccurs="0" maxOccurs="1" name="InvoiceAddress" type="ens:AddressType" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderGrossPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderDiscount" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="OrderNetPrice" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderItem" type="ens:PhoneDetailType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NameType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AddressType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AddressLine4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="County" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PhoneDetailType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="LineItemID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SKU" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneContractType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FTC" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="swaBinary" type="ens:swaBinary" />
      <s:complexType name="swaBinary">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="promotional" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="contract" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="insurance" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="caf" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:element name="Receipt" type="ens:Receipt" />
      <s:complexType name="Receipt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OrderNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Timestamp" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ReceiptAck" type="ens:ReceiptAck" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReceiptAck">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OriginalTXID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestStatus" type="ens:RequestStatusType" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorInfo" type="ens:ErrorType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RequestStatusType">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Error" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ErrorType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ShortMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LongMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SeverityCode" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSoapIn">
    <wsdl:part name="OrderRequests" element="ens:OrderRequests" />
    <wsdl:part name="swaBinary" element="ens:swaBinary" />
  </wsdl:message>
  <wsdl:message name="SendSoapOut">
    <wsdl:part name="SendResult" element="ens:Receipt" />
  </wsdl:message>
  <wsdl:portType name="ExampleSendOrderSoap">
    <wsdl:operation name="Send">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add/Update Customer Order</wsdl:documentation>
      <wsdl:input message="tns:SendSoapIn" />
      <wsdl:output message="tns:SendSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExampleSendOrderSoap" type="tns:ExampleSendOrderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExampleSendOrderSoap12" type="tns:ExampleSendOrderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Send">
      <soap12:operation soapAction="" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExampleSendOrder">
    <wsdl:port name="ExampleSendOrderSoap" binding="tns:ExampleSendOrderSoap">
      <soap:address location="http://localhost:8001/SOAP/Example" />
    </wsdl:port>
    <wsdl:port name="ExampleSendOrderSoap12" binding="tns:ExampleSendOrderSoap12">
      <soap12:address location="http://localhost:8001/SOAP/Example" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
